<footer>
    <div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-bottom">

    <font color="blue"><small>Copyright © 2015 Nathan Siu</small></font>
 <a href="https://www.linkedin.com/profile/view?id=AAIAABil92EBlbszFp9H_Ii307NyKMrPnMEfTGc&trk=nav_responsive_tab_profile"><img class="pull-right" src=images/linkedin.jpg height="20" width="20"></a>
    </nav>
    </div>
    </footer>

