<footer>
    <div class="container"> <!--holds footer content-->
<nav class="navbar navbar-default navbar-fixed-bottom"> <!--sets footer to bottom of page-->

    <font color="blue"><small>Copyright © 2015 Nathan Siu</small></font> <!-- change text blue-->
 <a href="https://www.linkedin.com/profile/view?id=AAIAABil92EBlbszFp9H_Ii307NyKMrPnMEfTGc&trk=nav_responsive_tab_profile"><img class="pull-right" src=images/linkedin.jpg height="20" width="20"></a> <!-- linkedin logo and link to my linkedin-->
    </nav>
    </div>
    </footer>

