<!--Name: Nathan Siu
    Student Number:200281793
    Page:about page
-->  
<%-include partials/header.ejs %><!--calling header-->
<div class="container"><!-- container holds jumbotron and row is used to center jumbotron-->
    <div class="row">
        <div class="jumbotron">
    
    <h1>About Me</h1>
    <p>I am currently taking computer programming at Georgian college and I am interested in many things in the IT field such as web programming, databases, website development and mobile application development. I am always willing eager to learn new things whether it is at school,home, or even at work. I am a hard working individual that also works well with teams and keeping team morale high. </p>
            <button type="button" class="btn btn-primary btn-sm">Continue</button><!--button will be used later on but has no function right now-->
        </div>
 </div>
</div>
    
</body>
 <%-include partials/footer.ejs %> <!--calling footer-->
</html>