<!doctype html>

<html>
<head>
    <title>About Me</title>
    
</head>
<body>
    
    <h1>About</h1>
    <p>Hi im nathan, and im taking computer programming at georgian college.</p>
    
    
</body>
</html>