 <%-include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="jumbotron">
    
    <h1>About</h1>
    <p>Hi im nathan, and im taking computer programming at georgian college.</p>
        </div>
 </div>
</div>
    
</body>
 <%-include partials/footer.ejs %>
</html>