 <%-include partials/header.ejs %>
    
    <h1>Contact Me</h1>
<form>
    First Name:<br/>
    <input type="text" name="firstname"><br/>
    Last name:<br/>
  <input type="text" name="lastname"><br/>
    
    Email address:<br/>
  <input type="text" name="email"><br/>
    
    <input type="submit" value="Submit">

</form>




</form>
    
    
</body>
 <%-include partials/footer.ejs %>
</html>
