 <%-include partials/header.ejs %> <!-- calling header-->
<!--Name: Nathan Siu
    Student Number:200281793
    Page:Home page
-->
<div class="container"> <!--Container used to hold jumbotron class -->
    <div class="row"> <!-- used to center jumbotron -->
    
<div class="jumbotron">
    
    <div class=container> <!-- container used to hold image -->
    <h1>Nathan Siu</h1>
    <p>Welcome To My Portfolio!</p>
    <img class="pull-right" src=images/nathan.jpg height="200" width="200"> <!-- pull right class is used to align image to the right-->
    
  <button type="button" class="btn btn-primary btn-sm">Continue</button> <!-- button-->
    </div>
   


</div>
    </div>
</div>
    
</body>
 <%-include partials/footer.ejs %> <!-- calling footer-->
</html>
 