 <%-include partials/header.ejs %>
<div class="container">
    <div class="row">
    
<div class="jumbotron">
    <h1>Nathan Siu</h1>
    <p>Welcome To My Portfolio!</p>
    <p>
  <button type="button" class="btn btn-primary btn-sm">Continue</button>

</p>
</div>
    </div>
</div>
    
</body>
 <%-include partials/footer.ejs %>
</html>
 