<!--Name: Nathan Siu
    Student Number:200281793
    Page:Projects page
-->  
<%-include partials/header.ejs-%> <!-- calling header-->

<div class="container"> <!--holds jumbotron-->
    <div class="row"><!--centers jumbotron-->
    <div class="jumbotron">
        <div class="container"><!--holds text and images inside jumbotron-->
    <h1>Projects</h1>
    <h3>List Of Projects I Have Worked On</h3>
    <p>-JBANK Assignment </p>
    <p>-PHP CMS</p>
    <p>-Digital Arduino Thermometer</p>
    <p>-C# Temperature Converter</p>
    <p>-New website for chicken on the run</p>
    <p>-Helped make website for Trager Grills fundraising event</p>
             <img class="pull-right" src=images/wordpress.png height="200" width="200"><!--all images being aligned to the right-->
             <img class="pull-right" src=images/csharp.png height="200" width="200">
             <img class="pull-right" src=images/java.png height="200" width="200">
             <img class="pull-right" src=images/php.png height="200" width="200">
             <img class="pull-right" src=images/arduino.php height="200" width="200">
            <button type="button" class="btn btn-primary btn-sm">Continue</button>
        </div>
</div>
    </div>
    
</body>
 <%-include partials/footer.ejs %> <!--calling footer-->
</html>
