 <%-include partials/header.ejs-%>

<div class="container">
    <div class="row">
    <div class="jumbotron">
    <h1>Projects</h1>
    <p>Currently working on portfolio project for advanced web</p>
</div>
    </div>
    
</body>
 <%-include partials/footer.ejs %>
</html>
