<!doctype html>

<html>
<head>
    <title>Projects</title>
    
</head>
<body>
    
    <h1>Projects</h1>
    <p>Currently working on portfolio project for advanced web :)</p>
    
    
</body>
</html>