<!--Name: Nathan Siu
    Student Number:200281793
    Page:Services Page
--> 
<%-include partials/header.ejs %> <!-- calling header-->
<div class="container"> <!-- holds jumbotron-->
    <div class="row"> <!-- centers jumbotron-->
    <div class="jumbotron">
    <div class="container"> <!--holds text and image inside jumbotron-->
    <h1>Services</h1>
    <p>-Minor laptop repairs</p>
    <p>-Virus removal</p>
    <p>-Website development</p>
    <p>-Mobile applications development</p>
    <p>-Windows Installation</p>
    <p>-Adobe Photoshop</p>
        
         <img class="pull-right" src=images/laptoprepair.png height="200" width="200"> <!-- align image right-->
        <button type="button" class="btn btn-primary btn-sm">Continue</button> <!--button that does nothing yet-->
        </div>
    
</div>
    </div>
</div>
    
</body>
 <%-include partials/footer.ejs %> <!-- calling footer-->
</html>

