 <%-include partials/header.ejs %>
<div class="container">
    <div class="row">
    <div class="jumbotron">
    <h1>Services</h1>
    <p>hi</p>
</div>
    </div>
</div>
    
</body>
 <%-include partials/footer.ejs %>
</html>

